body {
	font-family: "Muli-Regular", sans-serif;
	overflow: hidden;
}
a {
	display: inline-block;
}
a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
ul {
	list-style: none;
	
}