@import "./fonts.css";
@import "./normalize.css";
@import "./settings.css";
.header {
  background-image: url(../image/header/header-bg.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header-top {
  width: 1730px;
  padding: 70px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Muli-Bold", sans-serif;
  color: #fff;
}

.personal__list {
  display: flex;
  position: relative;
}

.personal__list-item {
  margin-right: 45px;
}

.personal__link-cart::after {
  content: "";
  display: block;
  width: 47px;
  height: 2px;
  background-color: #ffd68f;
  position: absolute;
  right: -10px;
  top: 10px;
}

.personal__cart-count {
  background-color: #fff;
  display: inline-block;
  height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 50%;
  line-height: 1.8;
  font-size: 10px;
  color: #000;
  position: absolute;
  bottom: 20px;
}

.social__list {
  display: flex;
}

.social__link {
  margin-left: 5px;
}

.social__icon {
  height: 17px;
  color: #434343;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.header__btn {
  height: 70px;
  width: 280px;
  align-self: center;
}

.btn {
  border-radius: 35px;
  font-family: "Muli-ExtraBold", sans-serif;
  padding: 0 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  border: none;
}

.btn--green-bg {
  background-color: #0aa566;
  color: #fff;
  font-size: 21px;
}