@import "./fonts.css";
@import "./normalize.css";
@import "./settings.css";
.header {
	background-image: url(../image/header/header-bg.png);
	height: 100vh;
	background-position: center;
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
}
.header-top {
	padding: 70px 100px 100px;
	width: 100%;
	display: flex;
	align-items: center;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
}
.menu__item {
	margin-right: 35px;
	&:last-child {
		margin-right: 0;
	}
}
.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Muli-Bold", sans-serif;
	color: #fff;
}
.header__logo {
}
.logo {
}
.logo__link {
	// margin-left: 210px;
	// margin-right: 345px;
}
.logo__img {
}
.header__personal {
}
.personal {
}
.personal__list {
	display: flex;
	position: relative;
}
.personal__list-item {
	margin-right: 45px;
}
.personal__link-cart {
	&::after {
		content: "";
		display: block;
		width: 47px;
		height: 2px;
		background-color: #ffd68f;
		position: absolute;
		right: -10px;
		top: 10px;
	}
}
.personal__icon-search {
}
.personal__icon-user {
}
.personal__link-cart {
}
.personal__cart-icon {
}
.personal__cart-count {
	background-color: #fff;
	display: inline-block;
	height: 18px;
	width: 18px;
	text-align: center;
	border-radius: 50%;
	line-height: 2;
	font-size: 10px;
	color: #000;
}
.header__social {
}
.social {
}
.social__list {
	display: flex;

	
}
.social__list-item {
}
.social__link {
	margin-left: 5px;
}
.social__icon {
	height: 17px;
	color: #434343;
	background-color: #fff;
	border-radius: 50%;
	padding: 10px;
}
.header__content {
}
.header__btn {
	height: 70px;
	width: 280px;
	align-self: center;
}
.btn {
	border-radius: 35px;
	font-family: "Muli-ExtraBold",sans-serif;
	// font-size: 24px;
	padding: 0 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
	border: none;
}
.btn--green-bg {
	background-color: #0aa566;
	color: #fff;
	font-size: 21px;
}
.btn__arrow-yellow {
}